$deepblue: #343E4E;
$trueblue: #87A6BD;
$ashblue: #9EBDCE;
$gray: #D4D7DD;
$brown: #8F847F;
$moonblue: #CCDBE3;
$white: #FFFFFF;

$deeptransparent: rgba(52, 62, 78, 0.9);
$truetransparent: rgba(135, 166, 189, 0.5);
$transparentblue: rgba(158, 189, 206, 0.9);

$changa: 'Changa One', cursive;

$dropshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

@import 'flexbox';
@import 'animation';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway',Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    display: none;
}
.nav-up {
    @include animation-name(slideUp);
    @include animation-duration(1s);
    @include animation-timing-function(ease-out);
    
    .navlinks {
        display: none;
    }
}
.nav-down {
    @include animation-name(slideDown);
    @include animation-duration(0.5s);
    @include animation-timing-function(ease-in);

    visibility: visible !important;
    
    background: $ashblue;
}
.nav-top {
    @include animation-name(slideDown);
    @include animation-duration(0.5s);
    @include animation-timing-function(ease);
    top: 0;
    background: none !important;
}
nav.primary-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 10;
    @include transition(all ease .5s);

    .navlinks {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 0;
        margin: 0;
        text-align: right;
        @include transition(all ease .5s);

        ul {
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(flex-end);
            list-style: none;
            li {
                text-align: center;
                @include flex(auto);
                a {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 14px;
                    margin-right: 14px;
                    padding: 2px 7px;
                    color: $white;
                    @include transition(all ease .5s);
                }
                a:hover {
                    color: $deepblue;
                    background: $white;
                }
            }
        }
    }
}

section.hero {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(/assets/img/background.jpg) no-repeat $ashblue;
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;


    .logo {
        position: absolute;
        margin-top: 15px;
        margin-left: 15px;
        height: 70px;
        width: auto;
    }

    .bannerwrapper {
        position: relative;
        top: 45px;
        height: 555px;
        width: 96%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        @include transition(all ease .5s);
        
        .tagline {
            position: absolute;
            left: 40px;
            top: 40px;
            @include transition(all ease .5s);

            h2 {
                position: relative;
                font-family: $changa;
                font-weight: normal;            
                font-size: 130px;
                line-height: 104px;
                margin: 0;
                padding: 0;
                right: 0px;
                color: $white;
                text-align: right;
                text-shadow: $dropshadow;
                @include transition(all ease .5s);
                z-index: 1;
            }
    
            h4 {
                margin-top: 5px;
                margin-right: 5px;
                position: relative;
                font-size: 24px;
                font-weight: normal;
                color: $white;
                text-align: right; 
                text-shadow: $dropshadow;
                @include transition(all ease .5s);
                z-index: 1;
            }
        }
    
        .moon {
            position: absolute;
            right: 150px;
            top: 0px;
            height: 345px;
            width: 345px;
            background-color: $moonblue;
            visibility: hidden;
            @include border-radius(100%);
            @include transition(all ease .5s);
        }
    
        .wolf {
            position: absolute;
            right: 30px;
            bottom: 0px;
            height: 377px;
            width: auto;
            visibility: hidden;
            @include transition(all ease .5s);
        }
    }
    
    
}

section.hello {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: $trueblue;

    h2 {
        position: relative;
        width: 96%;
        max-width: 960px;
        height: 57px;
        top: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        color: $deepblue; //$white;
        @include transition(all ease .5s);
    }
}

section.services {
    position: relative;
    width: 100%;
    min-height: 280px;
    background-color: $moonblue;

    .row {
        @include flexbox();
        @include flex-wrap(wrap);

        position: relative;
        top: -50px;
        margin-left: auto;
        margin-right: auto;
        min-height: 287px;
        width: 96%;
        max-width: 960px;
        @include transition(all ease .5s);
        z-index: 1;

        .column {
            @include flex(auto);
            height: 287px;
            .icon {
                position: relative;
                top: 0px;
                height: 100px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                background-color: $moonblue;
                @include transition(all ease .5s);
                @include border-radius(100%);

                h4 {
                    font-size: 40px;
                    font-weight: 900;
                    line-height: 100px;
                    visibility: hidden;
                    @include transition(all ease .5s);
                }
            }

            h5 {
                font-size: 25px;
                font-weight: normal;
                text-align: center;
                color: $deepblue;
                @include transition(all ease .5s);
            }
            hr {
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                margin-bottom: 20px;
                width: 60px;
                text-align: center;
                color: $deepblue;
            }
            p {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                width: 219px;
                font-size: 16px;
                text-align: center;
                color: $deepblue;
                @include transition(all ease .5s);
            }

            .development {
                color: $deepblue;
                border-color: $deepblue;
            }
            .design {
                color: $brown;
                border-color: $brown;
            }
            .agile {
                color: $ashblue;
                border-color: $ashblue;
            }
            .teamplayer {
                color: $trueblue;
                border-color: $trueblue;
            }
        }
    }
}

section.about {
    position: relative;
    width: 100%;
    background-color: $white;
    box-shadow: $dropshadow;

    .aboutwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include flexbox();
        @include flex-wrap(wrap);
        width: 100%;
        max-width: 1440px;
        min-width: 320px;
        @include transition(all ease .5s);

        .aboutphoto {
            position: relative;
            @include flex(auto);
            width: 50%;
            min-height: 440px;
            max-width: 720px;
            min-width: 320px;
            background: url(/assets/img/glenn.png) $moonblue;
            background-size: cover;
            background-position: 50% 50%;
            @include transition(all ease .5s);
        }
        
        .aboutme {
            position: relative;
            @include flex(auto);
            width: 50%;
            max-width: 720px;
            min-width: 320px;
            background: $white;
            @include transition(all ease .5s);

            h2 {
                margin-top: 35px;
                margin-left: 5vw;
                font-family: $changa;
                font-size: 64px;
                font-weight: normal;
                color: $deepblue;
                @include transition(all ease .5s);
            }
            p {
                display: inline-block;
                position: relative;
                margin-left: 5vw;
                margin-right: 5vw;
                margin-top: 5px;
                padding-bottom: 33px;
                font-size: 19px;
                font-weight: 300;
                color: $deepblue;
                @include transition(all ease .5s);
            }
        }
    }
    
}

section.social {
    position: relative;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $moonblue;

    .socialwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 960px;

        h2 {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: $changa;
            font-size: 64px;
            font-weight: normal;
            color: $deepblue;
            text-align: center;
            @include transition(all ease .5s);
        }

        .row:first-of-type {
            margin-top: 35px;
        }
        .row {
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(center);
            width: 100%;
            @include transition(all ease .5s);
            .column {
                @include flex(auto);
                height: 150px;
                width: 160px;
                max-width: 160px;
                min-width: 160px;
                background: $gray;
                text-decoration: none;
                line-height: 150px;
                @include transition(all ease .5s);

                h3 {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 300;
                    @include transition(all ease .5s);                    
                }
                
            }
            .column:hover {
                background-color: $gray;
                color: $deepblue;
                h3 {
                    font-size: 20px;
                }
            }
            
            /* List of Social Media Links */
            .social1, .social2, .social5, .social6, .social9, .social10 {
                h3 {
                    color: $deepblue;
                }
            }
            .social3, .social4, .social7, .social8, .social11, .social12 {
                h3 {
                    color: $white;
                }
            }
            .social1, .social5, .social9 {
                background: $ashblue;
            }
            .social2, .social6, .social10 {
                background: $trueblue;
            }
            .social3, .social7, .social11 {
                background: $deepblue;
            }
            .social4, .social8, .social12 {
                background: $brown;
            }
        }
    }
}

section.tech {
    position: relative;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $white;
    box-shadow: $dropshadow;

    .techwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 960px;

        h2 {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: $changa;
            font-size: 64px;
            font-weight: normal;
            color: $deepblue;
            text-align: center;
            @include transition(all ease .5s);
        }

        .row:first-of-type {
            margin-top: 35px;
        }
        .row {
            @include flexbox();
            @include flex-wrap(wrap);
            width: 100%;
            @include transition(all ease .5s);
            .column {
                @include flex(auto);
                height: 80px;
                width: 160px;
                background: $gray;
                @include transition(all ease .5s);

                h3 {
                    text-align: center;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 80px;
                }
            }
            
            /* List of Tech Stack */
            .tech1, .tech2, .tech5, .tech6, .tech9, .tech10 {
                h3 {
                    color: $deepblue;
                }
            }
            .tech3, .tech4, .tech7, .tech8, .tech11, .tech12 {
                h3 {
                    color: $white;
                }
            }
            .tech1, .tech5, .tech9 {
                background: $ashblue;
            }
            .tech2, .tech6, .tech10 {
                background: $trueblue;
            }
            .tech3, .tech7, .tech11 {
                background: $deepblue;
            }
            .tech4, .tech8, .tech12 {
                background: $brown;
            }
        }
    }
}

section.projects {
    position: relative;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $moonblue;

    .projectswrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 960px;

        h2 {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: $changa;
            font-size: 64px;
            font-weight: normal;
            color: $deepblue;
            text-align: center;
            @include transition(all ease .5s);
        }

        .row:first-of-type {
            margin-top: 20px;
        }
        .row {
            position: relative;
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(center);
            width: 100%;
            @include transition(all ease .5s);

            .column {
                position: relative;
                @include flex(auto);
                width: 285px;
                height: 400px;
                max-width: 285px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 12.5px;
                margin-bottom: 12.5px;
                background: $white;
                box-shadow: $dropshadow;
                @include transition(all ease .5s);

                .title {
                    height: 100px;
                    width: 100%;
                    background-size: cover;

                    h3 {
                        padding-top: 13px;
                        font-family: $changa;
                        font-weight: normal;
                        color: $white;
                        text-shadow: $dropshadow;
                        text-align: center;
                    }
                }
                .description {
                    p {
                        margin: 10px;
                        font-size: 15px;
                        font-weight: 400;
                        color: $deepblue;
                    }
                }
                .gitlink {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    width: 135px;//100%;
                    a {
                        text-decoration: none;
                        .viewgit {
                            position: relative;
                            // margin-left: auto;
                            // margin-right: 10px;
                            padding-top: 12px;
                            width: 135px;
                            height: 30px;
                            border-radius: 10px;
                            background: $brown;
                            font-size: 14px;
                            color: $white;
                            text-align: center;
                            @include transition(all ease .5s);
                            box-shadow: $dropshadow;
                        }
                    }
                    a:hover {
                        .viewgit {
                            background: $gray;
                            color: $deepblue;
                        }
                    }
                }
            }

            /* List of Projects */
            .project1 {
                .title {
                    background: url(/assets/img/projects/streaming-service-terminal-app.png) no-repeat $ashblue;
                    h3 {
                        font-size: 32px;
                    }
                }
            }

            .project2 {
                .title {
                    background: url(/assets/img/projects/smart-goals-terminal-app.png) no-repeat $brown;
                    h3 {
                        font-size: 32px;
                    }
                }
            }

            .project3 {
                .title {
                    background: url(/assets/img/projects/student-attendance-mobile-first-design.png) no-repeat $deepblue;
                    h3 {
                        font-size: 30px;
                    }
                }
            }

            .project4 {
                .title {
                    background: url(/assets/img/projects/gopro-photography-website.png) no-repeat $deepblue;
                    h3 {
                        font-size: 30px;
                    }
                }
            }

            .project5 {
                .title {
                    background: url(/assets/img/projects/toyota-olympic-website-for-toyota.png) no-repeat $ashblue;
                    h3 {
                        font-size: 32px;
                    }
                }
            }

            .project6 {
                .title {
                    background: url(/assets/img/projects/pokemon-responsive-design.png) no-repeat $brown;
                    h3 {
                        font-size: 32px;
                    }
                }
            }

            .project7 {
                .title {
                    background: url(/assets/img/projects/portfolio-website.png) no-repeat $ashblue;
                    h3 {
                        font-size: 36px;
                    }
                }
            }

            .project8 {
                .title {
                    background: url(/assets/img/projects/circle-of-funk-website.png) no-repeat $brown;
                    h3 {
                        font-size: 32px;
                    }
                }
            }

            .project9 {
                .title {
                    background: url(/assets/img/projects/rails-installfest-quick-blog.png) no-repeat $deepblue;
                    h3 {
                        font-size: 30px;
                    }
                }
            }
        }

    }
}

section.contact {
    position: relative;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $ashblue;

    .contactwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 960px;

        h2 {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: $changa;
            font-size: 64px;
            font-weight: normal;
            color: $deepblue;
            text-align: center;
            @include transition(all ease .5s);
        }

        .contactform {
            position: relative;
            max-width: 420px;
            margin-left: auto;
            margin-right: auto;

            form {
                position: relative;
                width: 100%;
                margin-top: 25px;
                text-align: center;

                /* Style inputs with type="text", select elements and textareas */
                input[type=text] {
                    width: 100%;
                    height: 45px;
                    padding: 12px; 
                    border: 1px solid $gray;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-bottom: 15px;
                    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
                    font-size: 16px;
                    color: $deepblue;
                    box-shadow: $dropshadow;
                    @include transition(all ease .5s);
                }

                textarea {
                    width: 100%;
                    height: 200px;
                    padding: 12px;
                    border: 1px solid $gray;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-bottom: 15px;
                    font-size: 16px;
                    color: $deepblue;
                    box-shadow: $dropshadow;
                    @include transition(all ease .5s);
                }

                input[type=text]:focus, textarea:focus {
                    box-shadow: 0 0 5px $deepblue;
                    // padding: 3px 0px 3px 3px;
                    // margin: 5px 1px 3px 0px;
                    border: 1px solid $deepblue;
                }

                /* Style the submit button with a specific background color etc */
                button[type=submit] {
                    position: relative;
                    width: 200px;
                    height: 80px;
                    margin-top: 15px;
                    border: none;
                    border-radius: 15px;
                    background-color: $brown;
                    color: $white;
                    font-family: $changa;
                    font-size: 36px;
                    box-shadow: $dropshadow;
                    cursor: pointer;
                    @include transition(all ease .5s);

                    .fa {
                        padding-left: 5px;
                    }
                }

                /* When moving the mouse over the submit button, add a darker green color */
                button[type=submit]:hover {
                    background-color: $gray;
                    color: $deepblue;
                }

                /* Add a background color and some padding around the form */
                .container {
                    border-radius: 5px;
                    background-color: #f2f2f2;
                    padding: 20px;
                }
            }
        }
    }
}

/* Start of Media Queries */

@media (max-width: 920px) {
    section.hello {
        height: 160px;
    }
    section.services {
        .row {
            top: -40px;
            .column {
                .icon {
                    height: 80px;
                    width: 80px;

                    h4 {
                        font-size: 32px;
                        line-height: 90px;
                    }
                }
                h5 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                    width: 180px;
                }
            }
        }
    }
    section.about {
        .aboutwrapper {
            .aboutme {
                h2 {
                    font-size: 45px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
    section.social {
        .socialwrapper {
            h2 {
                font-size: 45px;
            }
        }
    }
    section.tech {
        .techwrapper {
            h2 {
                font-size: 45px;
            }
        }
    }
    section.projects {
        .projectswrapper {
            h2 {
                font-size: 45px;
            }
        }
    }
    section.contact {
        .contactwrapper {
            h2 {
                font-size: 45px;
            }
        }
    }
}

@media (max-width: 800px) {
    section.hero {
        .bannerwrapper {
            .wolf {
                right: 0px;
            }
            .moon {
                right: 200px;
            }
        }
    }
}

@media (max-width: 775px) {
    section.hello {
        h2 {
            // top: 50px;
            font-size: 20px;
        }
    }
}

@media (max-width: 755px) {
    section.services {
        min-height: 550px;
        .row {
            top: 0px;
            max-width: 500px;
            .column {
                height: auto;
                p {
                    text-align: center;
                }
                hr {
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 730px) {
    section.about {
        .aboutwrapper {
            .aboutme {
                width: 100%;
            }
            .aboutphoto {
                height: 440px;
                img {
                    // width: 100%;
                    // height: auto;
                    height: 440px;
                    width: auto;
                }
            }
        }
        
    }     
}

@media (max-width: 680px) {
    nav.primary-nav {
    
        .navlinks {
            display: none;
        }
    }
}
@media (max-width: 570px) {
    section.hero {
        .bannerwrapper {
            .moon {
                left: 40px;
            }
        }
    }
}

@media (max-width: 500px) {
    section.hello {
        h2 {
            top: 50px;
            // font-size: 20px;
        }
    }
}

@media (max-width: 480px) {
    section.hero {
        height: 471px;
        .bannerwrapper {
            // width: 80%;
            // background: red;
            height: 426px;
            left: 0px;
            .tagline {
                // left: 20px;
                left: 0px;
                width: 96%;
                // margin-left: auto;
                // margin-right: auto;

                h2 {
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 80px;
                    line-height: 64px;                 
                    text-align: center;
                }
                h4 {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }
            }
            
            .moon {
                top: 20px;
                left: 70px;
                height: 230px;
                width: 230px;
            }
            .wolf {
                height: 250px;
            }
            
        }
    }
}

@media (max-width: 400px) {
    section.contact {
        .contactwrapper {
            .contactform {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 320px) {
    section.hero {
        .bannerwrapper {
            .moon {
                left: 35px;
            }
        }
    }

    section.hello {
        h2 {
            font-size: 18px;
        }
    }

    section.services {
        .row {
            .column {
                p {
                    width: 90%;    
                }
            }
            padding-bottom: 30px;
        }
    }
}

// @media (max-width: 320px) {
//     div.hero {
//         .bannerwrapper {
//             .tagline {
//                 left: 0px;
//             }
//         }
//     }
// }




