$deepblue: #343E4E;
$trueblue: #87A6BD;
$ashblue: #9EBDCE;
$gray: #D4D7DD;
$brown: #8F847F;
$moonblue: #CCDBE3;
$snow: #FFFAFA;
$white: #FFFFFF;

$changa: 'Changa One', cursive;

$dropshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

@import 'flexbox';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway',Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

section.hero {
    position: relative;
    width: 100%;
    height: 600px;
    // background-color: $ashblue;
    background: url(/assets/img/background.jpg) no-repeat $ashblue;
    background-position: top left;
    // background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;


    .logo {
        position: absolute;
        margin-top: 15px;
        margin-left: 15px;
        height: 70px;
        width: auto;
    }

    .bannerwrapper {
        position: relative;
        top: 45px;
        height: 555px;
        width: 96%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        transition: all ease .5s;
        
        // background-color: red;

        .tagline {
            position: absolute;
            left: 40px;
            top: 40px;
            transition: all ease .5s;

            // background-color: yellow;
            
            h2 {
                position: relative;
                font-family: $changa;
                font-weight: normal;            
                font-size: 130px;
                line-height: 104px;
                margin: 0;
                padding: 0;
                right: 0px;
                color: $white;
                text-align: right;
                text-shadow: $dropshadow;
                transition: all ease .5s;
                z-index: 1;
            }
    
            h4 {
                margin-top: 5px;
                margin-right: 5px;
                position: relative;
                font-size: 24px;
                font-weight: normal;
                color: $white;
                text-align: right; 
                text-shadow: $dropshadow;
                transition: all ease .5s;
                z-index: 1;
            }
        }
    
        .moon {
            position: absolute;
            right: 150px;
            top: 0px;
            height: 345px;
            width: 345px;
            background-color: $moonblue;
            @include border-radius(100%);
            transition: all ease .5s;
        }
    
        .wolf {
            position: absolute;
            right: 30px;
            bottom: 0px;
            height: 377px;
            width: auto;
            transition: all ease .5s;
        }
    }
    
    
}

section.hello {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: $trueblue;

    h2 {
        position: relative;
        width: 96%;
        max-width: 960px;
        height: 57px;
        top: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: $snow;
        transition: all ease .5s;
    }
}

section.services {
    position: relative;
    width: 100%;
    min-height: 280px;
    background-color: $moonblue;

    .row {
        @include flexbox();
        @include flex-wrap(wrap);

        position: relative;
        top: -50px;
        margin-left: auto;
        margin-right: auto;
        // background: red;
        min-height: 287px;
        width: 96%;
        max-width: 960px;
        transition: all ease .5s;
        z-index: 1;

        .column {
            @include flex(auto);
            // background: blue;
            height: 287px;
            .icon {
                position: relative;
                top: 0px;
                height: 100px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                background-color: $moonblue;
                transition: all ease .5s;
                @include border-radius(100%);

                h4 {
                    font-size: 40px;
                    font-weight: 900;
                    line-height: 100px;
                    transition: all ease .5s;
                }
            }

            h5 {
                font-size: 25px;
                font-weight: normal;
                text-align: center;
                color: $deepblue;
                transition: all ease .5s;
            }
            hr {
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                margin-bottom: 20px;
                width: 60px;
                text-align: center;
                color: $deepblue;
            }
            p {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                width: 219px;
                font-size: 16px;
                text-align: center;
                color: $deepblue;
                transition: all ease .5s;
            }

            .development {
                color: $deepblue;
                border-color: $deepblue;
            }
            .design {
                color: $brown;
                border-color: $brown;
            }
            .agile {
                color: $ashblue;
                border-color: $ashblue;
            }
            .teamplayer {
                color: $trueblue;
                border-color: $trueblue;
            }
        }
    }
}

section.about {
    position: relative;
    width: 100%;
    // height: 440px;
    background-color: $white;// #FFFAFA;

    .aboutwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include flexbox();
        @include flex-wrap(wrap);
        width: 100%;
        max-width: 1440px;
        min-width: 320px;
        // max-height: 440px;
        // background: blue;
        transition: all ease .5s;
        
        .aboutphoto {
            position: relative;
            @include flex(auto);
            width: 50%;
            min-height: 440px;
            max-width: 720px;
            min-width: 320px;
            
            // img {
            //     height: 440px;
            //     width: auto;
            //     // width: 100%;
            //     // height: auto;
            // }
            background: url(/assets/img/glenn.png) $moonblue;
            background-size: cover;
            background-position: 50% 50%;
            transition: all ease .5s;
        }
        
        .aboutme {
            position: relative;
            @include flex(auto);
            width: 50%;
            max-width: 720px;
            min-width: 320px;
            // max-height: 440px;
            // left: 73px;
            background: $white;
            transition: all ease .5s;

            h2 {
                margin-top: 35px;
                margin-left: 5vw; //73px;
                font-family: $changa;
                font-size: 64px;
                font-weight: normal;
                color: $deepblue;
                transition: all ease .5s;
            }
            p {
                display: inline-block;
                position: relative;
                margin-left: 5vw; //73px;
                margin-right: 5vw; //73px;
                margin-top: 5px;
                padding-bottom: 33px;
                // max-width: 573px;
                // min-width: 573px;
                // max-height: 353px;

                // font-size: 1.2em;
                // font-size: 1.5vw;
                font-size: 20px;
                color: $deepblue;
                // background-color: red;
                transition: all ease .5s;
                
            }
        }
    }
    
}

section.social {
    position: relative;
    width: 100%;
    // height: 300px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $moonblue;

    .socialwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
        width: 100%;
        max-width: 960px;
        // background: red;
        // height: 500px;

        h2 {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: $changa;
            font-size: 64px;
            font-weight: normal;
            color: $deepblue;
            text-align: center;
            transition: all ease .5s;
        }

        .row:first-of-type {
            margin-top: 35px;
        }
        .row {
            @include flexbox();
            @include flex-wrap(wrap);
            width: 100%;
            // background: blue;
            transition: all ease .5s;
            .column {
                @include flex(auto);
                height: 150px;
                width: 160px;
                background: $gray;
                transition: all ease .5s;

                h3 {
                    text-align: center;
                    font-size: 18px;

                    a {
                        // background: red;
                        padding-top: 70px;
                        padding-bottom: 70px;
                        line-height: 150px;
                        // padding: 30px;
                        // box-sizing: border-box;
                        text-decoration: none;
                    }
                    
                }
            }
            .column:hover {
                background-color: $gray;
                cursor: pointer;
                a {
                    color: $deepblue;
                }
            }
            

            .social1, .social2, .social5, .social6, .social9, .social10 {
                h3 {
                    a {
                        color: $deepblue;
                    }
                }
            }

            .social3, .social4, .social7, .social8, .social11, .social12 {
                h3 {
                    a {
                        color: $white;
                    }
                }
            }

            .social1 {
                background: $ashblue;
            }
            .social2 {
                background: $trueblue;
            }
            .social3 {
                background: $deepblue;
            }
            .social4 {
                background: $brown;
            }
            .social5 {
                background: $ashblue;
            }
            .social6 {
                background: $trueblue;
            }
            .social7 {
                background: $deepblue;
            }
            .social8 {
                background: $brown;
            }
            .social9 {
                background: $ashblue;
            }
            .social10 {
                background: $trueblue;
            }
            .social11 {
                background: $deepblue;
            }
            .social12 {
                background: $brown;
            }
        }
    }
}

section.tech {
    position: relative;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $white;

    .techwrapper {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 960px;

        h2 {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: $changa;
            font-size: 64px;
            font-weight: normal;
            color: $deepblue;
            text-align: center;
            transition: all ease .5s;
        }

        .row:first-of-type {
            margin-top: 35px;
        }
        .row {
            @include flexbox();
            @include flex-wrap(wrap);
            width: 100%;
            // background: blue;
            transition: all ease .5s;
            .column {
                @include flex(auto);
                height: 80px;
                width: 160px;
                background: $gray;
                transition: all ease .5s;

                h3 {
                    text-align: center;
                    font-size: 18px;
                    line-height: 80px;
                    // p {
                    //     // background: red;
                    //     padding-top: 70px;
                    //     padding-bottom: 70px;
                    //     line-height: 150px;
                    //     // padding: 30px;
                    //     // box-sizing: border-box;
                    //     text-decoration: none;
                    // }
                    
                }
            }
            // .column:hover {
            //     background-color: $gray;
            //     cursor: pointer;
            //     a {
            //         color: $deepblue;
            //     }
            // }
            

            .tech1, .tech2, .tech5, .tech6, .tech9, .tech10 {
                h3 {
                    // p {
                        color: $deepblue;
                    // }
                }
            }

            .tech3, .tech4, .tech7, .tech8, .tech11, .tech12 {
                h3 {
                    // p {
                        color: $white;
                    // }
                }
            }

            .tech1 {
                background: $ashblue;
            }
            .tech2 {
                background: $trueblue;
            }
            .tech3 {
                background: $deepblue;
            }
            .tech4 {
                background: $brown;
            }
            .tech5 {
                background: $ashblue;
            }
            .tech6 {
                background: $trueblue;
            }
            .tech7 {
                background: $deepblue;
            }
            .tech8 {
                background: $brown;
            }
            .tech9 {
                background: $ashblue;
            }
            .tech10 {
                background: $trueblue;
            }
            .tech11 {
                background: $deepblue;
            }
            .tech12 {
                background: $brown;
            }
        }
    }
}

@media (max-width: 920px) {
    section.hello {
        height: 160px;
    }
    section.services {
        .row {
            top: -40px;
            .column {
                .icon {
                    height: 80px;
                    width: 80px;

                    h4 {
                        font-size: 32px;
                        line-height: 90px;
                    }
                }
                h5 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                    width: 180px;
                }
            }
        }
    }
    section.about {
        .aboutwrapper {
            .aboutme {
                h2 {
                    font-size: 45px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
    section.social {
        .socialwrapper {
            h2 {
                font-size: 45px;
            }
        }
    }
}

@media (max-width: 800px) {
    section.hero {
        .bannerwrapper {
            .wolf {
                right: 0px;
            }
            .moon {
                right: 200px;
            }
        }
    }
}

@media (max-width: 775px) {
    section.hello {
        h2 {
            // top: 50px;
            font-size: 20px;
        }
    }
}

@media (max-width: 755px) {
    section.services {
        min-height: 550px;
        .row {
            top: 0px;
            max-width: 500px;
            .column {
                height: auto;
                p {
                    text-align: center;
                }
                hr {
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 730px) {
    section.about {
        .aboutwrapper {
            .aboutme {
                width: 100%;
            }
            .aboutphoto {
                height: 440px;
                img {
                    // width: 100%;
                    // height: auto;
                    height: 440px;
                    width: auto;
                }
            }
        }
        
    }     
}

@media (max-width: 570px) {
    section.hero {
        .bannerwrapper {
            .moon {
                left: 40px;
            }
        }
    }
}

@media (max-width: 500px) {
    section.hello {
        h2 {
            top: 50px;
            // font-size: 20px;
        }
    }
}

@media (max-width: 480px) {
    section.hero {
        height: 471px;
        .bannerwrapper {
            // width: 80%;
            // background: red;
            height: 426px;
            left: 0px;
            .tagline {
                // left: 20px;
                left: 0px;
                width: 96%;
                // margin-left: auto;
                // margin-right: auto;

                h2 {
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 80px;
                    line-height: 64px;                 
                    text-align: center;
                }
                h4 {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }
            }
            
            .moon {
                top: 20px;
                left: 70px;
                height: 230px;
                width: 230px;
            }
            .wolf {
                height: 250px;
            }
            
        }
    }
}

// @media (max-width: 420px) {
//     section.hello {
//         h2 {
//             font-size: 18px;
//         }
//     }
// }

@media (max-width: 320px) {
    section.hero {
        .bannerwrapper {
            .moon {
                left: 35px;
            }
        }
    }

    section.hello {
        h2 {
            font-size: 18px;
        }
    }

    section.services {
        .row {
            .column {
                p {
                    width: 90%;    
                }
            }
            padding-bottom: 30px;
        }
    }
}

// @media (max-width: 320px) {
//     div.hero {
//         .bannerwrapper {
//             .tagline {
//                 left: 0px;
//             }
//         }
//     }
// }




