* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway',Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

section.hero {
  position: relative;
  width: 100%;
  height: 600px;
  background: url(/assets/img/background.jpg) no-repeat #9EBDCE;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover; }
  section.hero .logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    height: 70px;
    width: auto; }
  section.hero .bannerwrapper {
    position: relative;
    top: 45px;
    height: 555px;
    width: 96%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    transition: all ease .5s; }
    section.hero .bannerwrapper .tagline {
      position: absolute;
      left: 40px;
      top: 40px;
      transition: all ease .5s; }
      section.hero .bannerwrapper .tagline h2 {
        position: relative;
        font-family: "Changa One", cursive;
        font-weight: normal;
        font-size: 130px;
        line-height: 104px;
        margin: 0;
        padding: 0;
        right: 0px;
        color: #FFFFFF;
        text-align: right;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all ease .5s;
        z-index: 1; }
      section.hero .bannerwrapper .tagline h4 {
        margin-top: 5px;
        margin-right: 5px;
        position: relative;
        font-size: 24px;
        font-weight: normal;
        color: #FFFFFF;
        text-align: right;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all ease .5s;
        z-index: 1; }
    section.hero .bannerwrapper .moon {
      position: absolute;
      right: 150px;
      top: 0px;
      height: 345px;
      width: 345px;
      background-color: #CCDBE3;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      transition: all ease .5s; }
    section.hero .bannerwrapper .wolf {
      position: absolute;
      right: 30px;
      bottom: 0px;
      height: 377px;
      width: auto;
      transition: all ease .5s; }

section.hello {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #87A6BD; }
  section.hello h2 {
    position: relative;
    width: 96%;
    max-width: 960px;
    height: 57px;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #FFFAFA;
    transition: all ease .5s; }

section.services {
  position: relative;
  width: 100%;
  min-height: 280px;
  background-color: #CCDBE3; }
  section.services .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    top: -50px;
    margin-left: auto;
    margin-right: auto;
    min-height: 287px;
    width: 96%;
    max-width: 960px;
    transition: all ease .5s;
    z-index: 1; }
    section.services .row .column {
      -webkit-box-flex: auto;
      -moz-box-flex: auto;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      height: 287px; }
      section.services .row .column .icon {
        position: relative;
        top: 0px;
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: #CCDBE3;
        transition: all ease .5s;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        section.services .row .column .icon h4 {
          font-size: 40px;
          font-weight: 900;
          line-height: 100px;
          transition: all ease .5s; }
      section.services .row .column h5 {
        font-size: 25px;
        font-weight: normal;
        text-align: center;
        color: #343E4E;
        transition: all ease .5s; }
      section.services .row .column hr {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 60px;
        text-align: center;
        color: #343E4E; }
      section.services .row .column p {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 219px;
        font-size: 16px;
        text-align: center;
        color: #343E4E;
        transition: all ease .5s; }
      section.services .row .column .development {
        color: #343E4E;
        border-color: #343E4E; }
      section.services .row .column .design {
        color: #8F847F;
        border-color: #8F847F; }
      section.services .row .column .agile {
        color: #9EBDCE;
        border-color: #9EBDCE; }
      section.services .row .column .teamplayer {
        color: #87A6BD;
        border-color: #87A6BD; }

section.about {
  position: relative;
  width: 100%;
  background-color: #FFFFFF; }
  section.about .aboutwrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    transition: all ease .5s; }
    section.about .aboutwrapper .aboutphoto {
      position: relative;
      -webkit-box-flex: auto;
      -moz-box-flex: auto;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 50%;
      min-height: 440px;
      max-width: 720px;
      min-width: 320px;
      background: url(/assets/img/glenn.png) #CCDBE3;
      background-size: cover;
      background-position: 50% 50%;
      transition: all ease .5s; }
    section.about .aboutwrapper .aboutme {
      position: relative;
      -webkit-box-flex: auto;
      -moz-box-flex: auto;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 50%;
      max-width: 720px;
      min-width: 320px;
      background: #FFFFFF;
      transition: all ease .5s; }
      section.about .aboutwrapper .aboutme h2 {
        margin-top: 35px;
        margin-left: 5vw;
        font-family: "Changa One", cursive;
        font-size: 64px;
        font-weight: normal;
        color: #343E4E;
        transition: all ease .5s; }
      section.about .aboutwrapper .aboutme p {
        display: inline-block;
        position: relative;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5px;
        padding-bottom: 33px;
        font-size: 20px;
        color: #343E4E;
        transition: all ease .5s; }

section.social {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #CCDBE3; }

@media (max-width: 920px) {
  section.hello {
    height: 160px; }

  section.services .row {
    top: -40px; }
    section.services .row .column .icon {
      height: 80px;
      width: 80px; }
      section.services .row .column .icon h4 {
        font-size: 32px;
        line-height: 90px; }
    section.services .row .column h5 {
      font-size: 20px; }
    section.services .row .column p {
      font-size: 14px;
      width: 180px; }

  section.about .aboutwrapper .aboutme h2 {
    font-size: 45px; }
  section.about .aboutwrapper .aboutme p {
    font-size: 15px; } }
@media (max-width: 800px) {
  section.hero .bannerwrapper .wolf {
    right: 0px; }
  section.hero .bannerwrapper .moon {
    right: 200px; } }
@media (max-width: 775px) {
  section.hello h2 {
    font-size: 20px; } }
@media (max-width: 755px) {
  section.services {
    min-height: 550px; }
    section.services .row {
      top: 0px;
      max-width: 500px; }
      section.services .row .column {
        height: auto; }
        section.services .row .column p {
          text-align: center; }
        section.services .row .column hr {
          margin-top: 15px;
          margin-bottom: 10px; } }
@media (max-width: 730px) {
  section.about .aboutwrapper .aboutme {
    width: 100%; }
  section.about .aboutwrapper .aboutphoto {
    height: 440px; }
    section.about .aboutwrapper .aboutphoto img {
      height: 440px;
      width: auto; } }
@media (max-width: 570px) {
  section.hero .bannerwrapper .moon {
    left: 40px; } }
@media (max-width: 500px) {
  section.hello h2 {
    top: 50px; } }
@media (max-width: 480px) {
  section.hero {
    height: 471px; }
    section.hero .bannerwrapper {
      height: 426px;
      left: 0px; }
      section.hero .bannerwrapper .tagline {
        left: 0px;
        width: 96%; }
        section.hero .bannerwrapper .tagline h2 {
          margin-left: auto;
          margin-right: auto;
          font-size: 80px;
          line-height: 64px;
          text-align: center; }
        section.hero .bannerwrapper .tagline h4 {
          margin-left: auto;
          margin-right: auto;
          text-align: center; }
      section.hero .bannerwrapper .moon {
        top: 20px;
        left: 70px;
        height: 230px;
        width: 230px; }
      section.hero .bannerwrapper .wolf {
        height: 250px; } }
@media (max-width: 320px) {
  section.hero .bannerwrapper .moon {
    left: 35px; }

  section.hello h2 {
    font-size: 18px; }

  section.services .row {
    padding-bottom: 30px; }
    section.services .row .column p {
      width: 90%; } }

/*# sourceMappingURL=main.css.map */
