body {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    /* background-color: #DDEEFF; */
    background-color: #fff;
}

::selection {
    background: #4484CE; /* Cerulean */
    color: #fff;
}
::-moz-selection {
    background: #4484CE; /* Cerulean */
    color: #fff;
}

h1 {
    font-size: 32px;
}

div.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

div.heading {
    width: 100%;
    text-align: center;
}

div.photo {
    position: relative;
    width: 100%;
    height: 300px;
    background: url(/assets/portfolio.png) no-repeat center;
    background-size: cover;
}
/*a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px 10px 0px;
    width: 100%;
}
a:hover{
    background-color: #000;
    color: #fff;
    padding: 10px;
}*/

div.links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
div.link {
    flex: auto;
/*    flex: 0 0 50px;*/
    /* border: 1px solid #ddd; */
    min-width: 190px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    transition: all 0.2s ease-out;
}
div.link:hover {
    background-color: #4484CE; /* Cerulean */
    transition: all 0.2s ease;
}
div.link:hover a {
    color: #fff;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #000;
}

i.fa {
    margin-left: 5px;
}